
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Prompt:wght@100;200;300;400;700;800;900&display=swap');

* {
    font-family: 'Montserrat';
}

body {
    padding: 0;
    margin: 0;
    background-color: #0c0c0c;
}

.sec1 {
    height: 100%;
    background-position: 100%;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo p{
    color: white;
    margin-left: 1rem;
}

nav img {
    margin-left: 1rem;
    width: 120px;
    height: 30px;
}

.nav-links ul li {
    font-weight: lighter;
    list-style: none;
    display: inline-block;
    padding: 1rem 1.2rem;
    position: relative;
}
.nav-links ul li a{
    color: rgb(185, 185, 185);
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;

    transition: .3s;
}
.nav-links ul #login{
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    border-style: solid;
    border-width: 1px;
    padding: 6px 30px;
    border-color: #ffffff;
    letter-spacing: 0.1em;

    transition: .3s;
}

.nav-links ul li a:hover{
    color: #ed145b;
    text-decoration: none;
    text-shadow: 0 0 15px #ed145b;
}
.nav-links ul #login:hover{
    color: #ed145b;
    border-color: #ed145b;
    background-color: transparent;
    text-shadow: none;
    letter-spacing: 0.3em;
}

.prod {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.prod .plinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
}

.prod .plinks #notebooks a{
    text-decoration: none;
    color: #ed145b;
    margin-left: 1rem;

    transition: 0.3s;
}
.prod .plinks #notebooks a:hover{
    text-decoration: none;
    color: #3cc7b2;
    margin-left: 1rem;
    border-style: solid;
    border-width: 1px;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.prod .plinks #celulares a{
    text-decoration: none;
    color: #ed145b;
    margin-left: 1rem;

    transition: 0.3s;
}
.prod .plinks #celulares a:hover{
    text-decoration: none;
    color: #3cc7b2;
    margin-left: 1rem;
    border-style: solid;
    border-width: 1px;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.prod .plinks #relogios a{
    text-decoration: none;
    color: #ed145b;
    margin-left: 1rem;

    transition: 0.3s;
}
.prod .plinks #relogios a:hover{
    text-decoration: none;
    color: #3cc7b2;
    margin-left: 1rem;
    border-style: solid;
    border-width: 1px;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.prod .plinks #acessorios a{
    text-decoration: none;
    color: #ed145b;
    margin-left: 1rem;

    transition: 0.3s;
}
.prod .plinks #acessorios a:hover{
    text-decoration: none;
    color: #3cc7b2;
    margin-left: 1rem;
    border-style: solid;
    border-width: 1px;
    padding: 0.5rem 1rem 0.5rem 1rem;
}


.head1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.head1 h1{
    z-index: 1;
    margin-top: 6rem;
    font-weight: 100;
    letter-spacing: 0.05em;
    color: #3cc7b2;
    font-size: 2.4rem;
    font-weight: 600;
}


.div1 {
    color:#610725;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.div1 h1 {
    z-index: 1;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    font-weight: lighter;
    text-shadow: 0 0 15px #000000;
}

#circulo {
    position: absolute;
    background-color: #fff;
    height: 100px;
    width: 100px;
    border-radius: 100%;

}

body::-webkit-scrollbar {
    background: #610725;
    height: 8px;
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #ed145b;
}

body::-webkit-scrollbar-track {
    border-radius: 5px;
}