@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Prompt:wght@100;200;300;400;700;800;900&display=swap');

* {
    font-family: 'Montserrat';
}

body {
    padding: 0;
    margin: 0;
    background-color: #000000;
}

.sec1 {
    height: 100%;
    background-position: 100%;
    background-size: cover;
    box-shadow: 100px 100px 300px rgba(0,0,0,0.9) inset;
    background-image: url(img/logback.jpg);
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo p{
    color: white;
    margin-left: 1rem;
}

nav img {
    margin-left: 1rem;
    width: 120px;
    height: 30px;
}

.nav-links ul li {
    font-weight: lighter;
    list-style: none;
    display: inline-block;
    padding: 1rem 1.2rem;
    position: relative;
}
.nav-links ul li a{
    color: rgb(185, 185, 185);
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;

    transition: .3s;
}
.nav-links ul #login{
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    border-style: solid;
    border-width: 1px;
    padding: 6px 30px;
    border-color: #ffffff;
    letter-spacing: 0.1em;

    transition: .3s;
}

.nav-links ul li a:hover{
    color: #ed145b;
    text-decoration: none;
    text-shadow: 0 0 15px #ed145b;
}
.nav-links ul #login:hover{
    color: #ed145b;
    border-color: #ed145b;
    background-color: transparent;
    text-shadow: none;
    letter-spacing: 0.3em;
}

.prod {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.prod .plinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
}

.prod .plinks #notebooks a{
    text-decoration: none;
    color: #ed145b;
    margin-left: 1rem;

    transition: 0.3s;
}
.prod .plinks #notebooks a:hover{
    text-decoration: none;
    color: #3cc7b2;
    margin-left: 1rem;
    border-style: solid;
    border-width: 1px;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.prod .plinks #celulares a{
    text-decoration: none;
    color: #ed145b;
    margin-left: 1rem;

    transition: 0.3s;
}
.prod .plinks #celulares a:hover{
    text-decoration: none;
    color: #3cc7b2;
    margin-left: 1rem;
    border-style: solid;
    border-width: 1px;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.prod .plinks #relogios a{
    text-decoration: none;
    color: #ed145b;
    margin-left: 1rem;

    transition: 0.3s;
}
.prod .plinks #relogios a:hover{
    text-decoration: none;
    color: #3cc7b2;
    margin-left: 1rem;
    border-style: solid;
    border-width: 1px;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.prod .plinks #acessorios a{
    text-decoration: none;
    color: #ed145b;
    margin-left: 1rem;

    transition: 0.3s;
}
.prod .plinks #acessorios a:hover{
    text-decoration: none;
    color: #3cc7b2;
    margin-left: 1rem;
    border-style: solid;
    border-width: 1px;
    padding: 0.5rem 1rem 0.5rem 1rem;
}


.head1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.head1 h1{
    z-index: 1;
    margin-top: 4rem;
    font-weight: 100;
    letter-spacing: 0.05em;
    color: #3cc7b2;
    font-size: 2.4rem;
    font-weight: 600;
}


.div1 {
    color:#610725;
    display: flex;
    flex-direction: column;
}

.div1 h1 {
    margin-top: 5rem;
    font-weight: bolder;
    font-size: 5rem;
    z-index: 1;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 15px #000000;
}

.div1 h2 {
    margin-top: 0.3rem;
    font-weight: bolder;
    font-size: 3rem;
    z-index: 1;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 15px #000000;
}

.form-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: #ed145b;
    backdrop-filter: blur(8px);
    border-width: 1px;
    padding: 3rem;
    color: white;
    
}

#log {
    color: #ed145b;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register p{
    color: #3cc7b2;
}

.register a{
    text-decoration: none;
    color: #ed145b;
    transition: .3s;
}
.register a:hover{
    text-decoration: none;
    color: #ed145b;
    border-style: solid;
    border-width: 1px;
    padding: 0.3rem 1rem 0.3rem 1rem;

}

.forget label {
    color: #3cc7b2;
}

#loginbutton {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem 1rem 0.3rem 1rem;
    
}

.sec2 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}